// UWAGA
// Do linii 100 jest nowy layout.
// Poniżej linii 100 są fragmetny z obecnej strony.
@import url('https://cloud.typography.com/7603878/6844212/css/fonts.css');

$blue: #356fff;
$indigo: #beb6ff;
$purple: #c500ff;
$red: #ff2800;
$green: #14d23c;
$teal: #0ab11e;
$cyan: #14ff37;

$gray-100: #f2f4f6;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #1d1d1d;
$gray-900: #030303;

$primary: $green;

$theme-color-interval: 10%;
$theme-colors: (
        "primary": $green,
        "secondary": $blue,
        "success": $teal,
        "info": $gray-500,
        "third": $purple,
        "fourth" : $indigo,
        "primary-on-dark" : $teal
);
$enable-rounded: true;
$enable-responsive-font-sizes: true;
$spacer: 1.25rem;
$body-color: $gray-800;
$link-color: $blue;
// $link-decoration:                         none !default;
$link-hover-color: lighten($blue, 10%);
// $link-hover-decoration:                   underline !default;

$paragraph-margin-bottom: 2.5rem;
$grid-breakpoints: (xs: 0, sm: 556px, md: 768px, lg: 992px, xl: 1200px);
$grid-gutter-width: 28px;
$line-height-base: 1.6;
$line-height-lg: 1.6;
$line-height-sm: 1.6;
$border-color: $gray-100;
$font-family-sans-serif: "Gotham SSm A", "Gotham SSm B";
$font-family-monospace: monospace;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.53;
$h2-font-size: $font-size-base * 2.2;
$h3-font-size: $font-size-base * 1.42;
$h4-font-size: $font-size-base * 1.26;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.84;
$print-page-size: a4;
$border-radius: 4px;
$border-radius-sm: 2px;
$font-weight-normal: 400;
$headings-font-family: "Gotham A", "Gotham B";
$headings-font-weight: 700;
$headings-line-height: 1.15;
$btn-border-radius: $border-radius*3;
$btn-border-radius-sm: $border-radius-sm*2;
$nav-link-disabled-color: $gray-800;
$nav-tabs-border-color: $primary;
$table-dark-bg: $gray-900;
$table-dark-color: $gray-800;
$breadcrumb-bg: $gray-100;
$breadcrumb-active-color: $gray-800;
$alert-border-width: 3px;
$alert-border-level: -7;
$card-cap-bg: transparent;

// $card-cap-bg: rgba($gray-900, .05);
$card-border-width: 0;

// $card-border-color: rgba($gray-900, .05);
$btn-padding-y: 0.4rem;
// $btn-padding-x: 1.5rem;
$btn-white-space: true;
$btn-padding-y-sm: 0.2rem;
$btn-padding-x-sm: 0.4rem;
$btn-font-weight: bold;
$btn-link-disabled-color: $gray-500;
$navbar-toggler-border-radius: $btn-border-radius*0;
$card-spacer-x: 1.25rem*0;
$card-spacer-y: $grid-gutter-width/2;
$card-border-radius: $border-radius*0;
$card-bg: rgba(0, 0, 0, 0);
$list-group-bg: transparent;
$list-group-border-radius: $border-radius*0;
$list-group-item-padding-x: 1.25rem*0;
$thumbnail-border-radius: $border-radius*0;

// UWAGA
// Poniżej są z obecnej strony. Do wykorzystania lub możliwe do wykomentowania, co niepotrzebne.

$kff-light-gray: #ced4da;

$bg-opacity: 0.3;

$dropdown-link-hover-color: white;
$dropdown-bg: rgba($gray-800, 0.8);
$dropdown-link-color: $gray-200;
$dropdown-link-active-color: white;
$dropdown-link-hover-bg: $primary;
$dropdown-link-active-bg: rgba($primary, $bg-opacity);

$navbar-dark-active-color: white;
$navbar-dark-hover-color: white;
$navbar-dark-color: $gray-100;
$navbar-dark-active-background: $primary;
$navbar-light-color: $gray-700;
$navbar-light-active-background: $primary;
$navbar-light-active-color: white;
$navbar-light-hover-color: white;

$transition-collapse: none;

$badge-font-weight: 400;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

a:hover {
  text-decoration: none;
}

.navbar, .dropdown-item, .carousel-menu, .carousel-caption, .news-card .label {
  font-size: 1.4rem;
}

.bg-semi {
  background-color: rgba($gray-800, $bg-opacity);
}

.bg-semi-light {
  background-color: rgba($light, $bg-opacity);
}

.flex {
  display: flex;
}

.navbar {
  display: block;
  padding: 0;
  align-items: normal;

  .navbar-brand {
    padding: 0;

    svg {
      max-width: 237px;
      width: 100%;
      display: inline-block;

      path {
        fill: $teal !important;
      }

      @media(max-width: 990px) {
        max-width: 192px;
      }
    }
  }

  .nav-item {
    @extend .mb-0;
  }

  .navbar-collapse {
    align-items: normal;
  }

  .navbar-toggler {
    background-color: rgba($primary, $bg-opacity);
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }
}

#main-navigation {
  display: flex;
  align-items: flex-end;

  .nav-item {
    @extend .h3;
    margin-right: 20px;

    &.active a, &:hover a {
      color: $teal;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    padding: 0;
    color: $navbar-light-color;
  }
}

#sub-navigations-wrapper {
  display: flex;
  position: absolute;
  top: 30px;
  right: 0;

  .nav-item {
    @extend .h6;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid $navbar-light-color;

    &.active a, &:hover a {
      color: $teal;
    }

    &:last-child {
      margin-right: 0;
      border-right: 0;
    }
  }

  .nav-link {
    padding: 0;
    color: $navbar-light-color;
  }
}

#primary-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $gray-300;
  font-size: 13px;
  color: $gray-600;

  a {
    color: $gray-500;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  form {
    margin-top: 20px;

    input, button {
      margin: 0;
      border: 0;
    }

    input {
      padding: 5px 10px;
    }

    button {
      margin-left: -6px;
      padding: 5px 15px;
      color: $white;
      background-color: $primary;
    }
  }
}

#secondary-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $primary;
  font-size: 13px;
  color: $gray-600;

  .sponsors {
    img {
      height: 15px;
      margin-right: 20px;
    }
  }

  ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-end;

    li {
      padding: 0 10px;
      border-right: 1px solid black;
      font-size: 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
        padding-right: 0;
      }
    }
  }
}

#footer-navigations, #footer-addons {
  display: flex;
}

#filters {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;

  #filters-select {
    cursor: pointer;

    ul li:first-child {
      margin-right: 40px;
    }
  }

  .label {
    display: inline-block;
    margin-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    .label-name {
      font-weight: bold;
      color: $primary;
    }

    .label-value {
      color: white;

      &.empty {
        color: $gray-600;
      }
    }
  }

  #typesLabel {
    width: 170px;
  }

  #competitionsLabel {
    width: 210px;
  }

  #cyclesLabel {
    width: 280px;
  }

  #countriesLabel {
    width: 130px;
  }
}

#filters-category {
  .filter-item {
    display: flex;
    align-items: baseline;
  }

  .category-name {
    width: 100px;
    color: $primary;
    font-weight: bold;
  }

  .active {
    color: white;
  }
}

.dropdown-list {
  width: 100%;
  font-size: 14px;

  .dropdown-open-link {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .selected-item-value {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    list-style: none;
  }

  a {
    padding: 10px 0;
    border-bottom: 1px solid white;
    color: $gray-600;
  }

}

@media (max-width: 1200px) {
  #primary-footer div[class^="col-"]:first-child {
    flex: 0 0 65%;
    max-width: 65%;
  }

  #primary-footer div[class^="col-"]:last-child {
    flex: 0 0 35%;
    max-width: 35%;
  }

  #secondary-footer div[class^="col-"]:first-child {
    flex: 0 0 30%;
    max-width: 30%;
  }

  #secondary-footer div[class^="col-"]:last-child {
    flex: 0 0 70%;
    max-width: 70%;
  }

  #footer-addons {
    flex-direction: column;

    .newsletter-form {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1000px) {
  #primary-footer div[class^="col-"]:first-child,
  #secondary-footer div[class^="col-"]:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #primary-footer div[class^="col-"]:last-child,
  #secondary-footer div[class^="col-"]:last-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #secondary-footer div[class^="col-"]:first-child {
    order: 2;
  }

  #secondary-footer {
    text-align: center;

    ul {
      justify-content: flex-start;
      flex-direction: column;
      align-items: normal;

      li {
        padding: 0;
        border: 0;
        margin-bottom: 10px;
      }
    }
  }

}

@media (max-width: 990px) {
  #page-header > .navbar > .row > div:first-child {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    font-size: $h5-font-size !important;
  }

  #navigations-wrapper {
    flex: 1;
    max-width: 100%;
    margin: 0;
  }

  #sub-navigations-wrapper {
    display: block;
    position: relative;
    top: 0;

    .nav-item {
      padding: 0;
      border: 0;
    }
  }

  #main-navigation .nav-link, #sub-navigations-wrapper .nav-link {
    padding: 4px 0;
  }
}

@media (max-width: 550px) {
  #footer-navigations {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  #footer-addons {
    align-items: center;

    .newsletter-form {
      order: 2;
    }
  }
}

@media (min-width: 550px) {
  #primary-footer {
    nav, .newsletter-form {
      margin-right: 60px;
    }
  }
}

@media (min-width: 990px) {
  #navigations-wrapper {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  #page-header {
    max-width: 1500px;
  }
}